##===================================
## enviromental variable .env file
##===================================
.env

##======================
## virtual environment
##======================
NL2SQL-ENGINE/

##===========
## sql file
##===========
sql/

##===============
## python files
##===============
__pycache__/
*.pyc
